@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p,
address, em, img, q,
small, strong, sub, sup,
dl, dt, dd, ol, ul, li,
form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figcaption, figure,
footer, header, menu, nav, section,
time, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-family: Helvetica, "メイリオ", "Meiryo", "游ゴシック", "Yu Gothic", sans-serif;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul, ol {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, select {
  vertical-align: middle;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

main {
  margin-bottom: 80px;
}

#page-top {
  position: fixed;
  bottom: 20px;
  right: 100px;
  width: 65px;
}

@-webkit-keyframes shiny {
  0% {
    -webkit-transform: scale(0) rotate(25deg);
            transform: scale(0) rotate(25deg);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1) rotate(25deg);
            transform: scale(1) rotate(25deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(25deg);
            transform: scale(50) rotate(25deg);
    opacity: 0;
  }
}

@keyframes shiny {
  0% {
    -webkit-transform: scale(0) rotate(25deg);
            transform: scale(0) rotate(25deg);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1) rotate(25deg);
            transform: scale(1) rotate(25deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(25deg);
            transform: scale(50) rotate(25deg);
    opacity: 0;
  }
}

.btn::after {
  content: '';
  position: absolute;
  top: -100px;
  left: -100px;
  width: 50px;
  height: 50px;
  background-image: linear-gradient(100deg, rgba(255, 255, 255, 0) 10%, white 100%, rgba(255, 255, 255, 0) 0%);
  /* アニメーション */
  -webkit-animation-name: shiny;
          animation-name: shiny;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

footer {
  text-align: center;
  background-color: #edeff1;
  padding: 20px 0;
}

.sec {
  width: 1000px;
  margin: 0 auto;
}

.btn {
  position: relative;
  display: block;
  background-color: #f0464a;
  height: 60px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  border-radius: 30px;
  margin: 30px auto 0;
  width: 380px;
}

.btn a {
  color: #fff;
  font-weight: bold;
  display: block;
  width: 380px;
  height: 60px;
}

.btn span {
  display: block;
  height: 60px;
  line-height: 60px;
  position: relative;
  font-size: 24px;
}

.btn span:after {
  content: "\025b6";
  position: absolute;
  right: 28px;
}

header {
  border-bottom: 2px solid #BFB9B0;
}

header .header_in {
  padding: 10px;
}

header .header_in .logo img {
  width: 100%;
}

header .header_in .btn {
  position: absolute;
  right: 100px;
  top: 40px;
  margin-top: -25px;
}

.hero {
  background: url(../images/hero.jpg) no-repeat 0 0;
  background-size: cover;
  width: 100%;
}

.hero .box_01 {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50px;
  margin: 0 auto;
  position: relative;
}

.hero .box_01:before {
  content: "";
  border: 3px solid #51a400;
  display: block;
  position: absolute;
  border-radius: 50px;
}

.hero .box_01:after {
  content: "";
  background: url("../images/bel_01.png") no-repeat 0 0;
  background-size: 100%;
  position: absolute;
}

.hero h1 {
  text-align: center;
  line-height: 1.4;
}

.hero .txt_01 {
  font-weight: bold;
  line-height: 1.4;
  margin: 0 auto;
}

.hero .txt_03 {
  color: #ff0000;
}

.sec_01 {
  width: 100%;
  background: url("../images/bg_01.png") repeat 0 0;
  padding: 50px 0;
}

.sec_01 .box_01 {
  margin: 0 auto;
  background: #fff;
  border: 1px solid #51a400;
  padding: 50px;
  border-radius: 20px;
  position: relative;
}

.sec_01 .box_01::before {
  content: "";
  background: url("../images/bel_02.png") no-repeat 0 0;
  position: absolute;
  background-size: 100%;
}

.sec_01 h2 {
  color: #51a400;
  text-align: center;
  position: relative;
}

.sec_01 h2:before {
  content: "";
  background: url(../images/icon_pc.svg) no-repeat 0 0;
  background-size: 100%;
  position: absolute;
}

.sec_01 ul {
  margin: 0 auto;
}

.sec_01 li {
  font-weight: bold;
  line-height: 1.4;
  position: relative;
}

.sec_01 li + li {
  margin-top: 15px;
}

.sec_01 li:before {
  content: "";
  background: url(../images/icon_check.svg) no-repeat 0 0;
  position: absolute;
  background-size: 100%;
}

.sec_01 li span {
  font-weight: normal;
}

.sec_02 {
  margin-bottom: 40px;
}

.sec_02 .txt_01 {
  font-weight: bold;
  border-bottom: 5px solid #008d6a;
  color: #008d6a;
  text-align: left;
  padding-bottom: 6px;
  margin: 0 auto 15px;
}

.sec_02 .txt_02 {
  color: #5f5d59;
  font-weight: bold;
  line-height: 1.6;
  margin-bottom: 40px;
}

.sec_02 .txt_03 {
  font-weight: bold;
  color: #008d6a;
  border-bottom: 5px solid #008d6a;
  border-left: 5px solid #008d6a;
  padding: 5px 0 5px 10px;
  margin-bottom: 30px;
}

.sec_02 ul {
  margin-bottom: 40px;
}

.sec_02 ul li {
  color: #008d6a;
  font-weight: bold;
  text-align: center;
  border-radius: 20px;
  border: solid 1px #008d6a;
  height: 40px;
  line-height: 40px;
}

.sec_02 .txt_04 {
  margin-bottom: 40px;
}

.sec_02 .txt_05 {
  font-weight: bold;
  color: #5f5d59;
  position: relative;
  padding: 0 0 5px 30px;
  border-bottom: 3px solid #ff0000;
  margin-bottom: 20px;
}

.sec_02 .txt_05:before {
  content: "";
  background: url("../images/icon_tyui.svg") no-repeat 0 0;
  width: 25px;
  height: 25px;
  background-size: 100%;
  position: absolute;
  left: 0;
  top: -2px;
}

.sec_02 .txt_06 {
  text-align: center;
  border: solid #51a400 3px;
  font-weight: bold;
  border-radius: 10px;
  padding: 40px 0;
  line-height: 1.4;
  color: #51a400;
  position: relative;
}

.sec_02 .txt_06:before {
  content: "";
  background: url("../images/lco_01.png") no-repeat 0 0;
  position: absolute;
  height: 130px;
  background-size: 100%;
}

.sec_03 h2,
.sec_04 h2 {
  color: #fff;
  background: #51a400;
  position: relative;
  height: 50px;
  line-height: 50px;
  padding-left: 40px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.sec_03 h2:before,
.sec_04 h2:before {
  content: "";
  background: url("../images/bel_01.png") no-repeat 0 0;
  position: absolute;
  background-size: 100%;
}

.sec_03 {
  margin-bottom: 40px;
  background: url("../images/bg_01.png") repeat 0 0;
  width: 100%;
  padding: 50px 0;
}

.sec_03 .sec_in {
  margin: 0 auto;
}

.sec_03 .tab_btn {
  margin-bottom: 40px;
}

.sec_03 .tab_btn li {
  font-weight: bold;
  color: #008d6a;
  text-align: center;
}

.sec_03 .tab_btn li a {
  display: block;
  padding: 25px 0;
  border-radius: 20px;
  position: relative;
  border: 5px solid #008d6a;
  background: #fff;
}

.sec_03 .tab_btn li a:before {
  content: "";
  background: url("../images/bel_01.png") no-repeat 0 0;
  position: absolute;
  background-size: 100%;
}

.sec_03 .tab_btn li a:after {
  content: "\025bc";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
}

.sec_03 .box_01 {
  background: #fff;
  border: solid #f48a9d 1px;
  border-radius: 10px;
  padding: 0 0 30px;
  line-height: 1.4;
  margin-bottom: 30px;
  position: relative;
}

.sec_03 .box_01:after {
  content: "";
  background: url("../images/bel_02.png") no-repeat 0 0;
  position: absolute;
  background-size: 100%;
}

.sec_03 .box_01 .txt_01 {
  text-align: center;
  background: #f48a9d;
  color: #fff;
  border-radius: 8px 8px 0 0;
  padding: 5px 0;
  font-weight: bold;
}

.sec_03 .box_01 ul {
  padding: 30px 10px 0;
}

.sec_03 .box_01 li {
  line-height: 1.6;
}

.sec_03 .box_02 {
  margin-bottom: 20px;
  border: 1px solid #f48a9d;
}

.sec_03 .box_02 .txt_01,
.sec_03 .box_02 .txt_02,
.sec_03 .box_02 .txt_03 {
  line-height: 1.4;
}

.sec_03 .box_02 .txt_01 {
  margin-bottom: 20px;
}

.sec_03 .box_02 .txt_02 {
  margin-bottom: 20px;
}

.sec_03 h3 {
  line-height: 1.4;
  color: #f48a9d;
  background: #fff;
  border-bottom: 1px solid #f48a9d;
  padding: 5px 0 5px 10px;
}

.sec_03 .list_box {
  background: #fff;
  padding: 30px 10px;
  position: relative;
}

.sec_03 .list_box:after {
  content: "";
  background: url("../images/belllco_01.png") no-repeat 0 0;
  background-size: 100%;
  position: absolute;
}

.sec_03 .list_box li {
  font-weight: bold;
}

.sec_03 .list_box li + li {
  margin-top: 10px;
}

.sec_03 .box_02_in {
  background: #fff;
  padding: 30px 10px;
}

.sec_03 .box_02_in .txt_01 {
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.sec_03 .box_02_in .flow {
  text-align: center;
}

.sec_03 .tab_box {
  margin-bottom: 30px;
}

.sec_03 .tab_box_02 .box_01:after {
  content: "";
  right: 490px;
}

.sec_03 .tab_box_02 .box_02_in ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec_03 .tab_box_02 .box_02_in li.txt {
  border: 1px solid #f48a9d;
  color: #f48a9d;
  text-align: center;
  position: relative;
}

.sec_03 .tab_box_02 .box_02_in li.txt span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 100px;
  line-height: 1.4;
  font-weight: bold;
}

.sec_03 .tab_box_02 .ceremony {
  position: relative;
}

.sec_03 .tab_box_02 .ceremony:before {
  content: "";
  background: url("../images/bel_02.png") no-repeat 0 0;
  position: absolute;
  background-size: 100%;
}

.sec_03 .tab_box_02 .ceremony .txt_01 {
  font-weight: bold;
  margin-bottom: 15px;
}

.sec_03 .tab_box_02 .ceremony .txt_02 {
  text-align: center;
}

.sec_03 h4 {
  font-size: 18px;
  margin-bottom: 20px;
}

.sec_03 h5 {
  font-size: 18px;
  margin-bottom: 20px;
}

.sec_03 .tab_box_03 .txt_01 {
  text-align: center;
  font-weight: bold;
}

.sec_03 .tab_box_03 h4 {
  margin-bottom: 15px;
}

.sec_03 .tab_box_03 h5 {
  margin-bottom: 15px;
}

.sec_03 .box_03 {
  margin-bottom: 20px;
  border: 1px solid #f48a9d;
}

.sec_03 .box_03 .box_03_in {
  background: #fff;
  padding: 30px 10px;
}

.sec_03 .box_03 .txt_01 {
  line-height: 1.6;
  margin-bottom: 20px;
}

.sec_03 .box_03 .txt_02 {
  line-height: 1.6;
}

.sec_04 table {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  width: 100%;
}

.sec_04 th,
.sec_04 td {
  padding: 20px 0;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  line-height: 1.4;
}

.sec_04 th {
  background: #51a400;
  color: #fff;
}

.sec_04 td {
  padding-left: 20px;
}

@media screen and (min-width: 769px) {
  header {
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 1;
  }
  header .header_in {
    width: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
  header .header_in .logo {
    width: 200px;
  }
  .hero {
    padding: 140px 0 50px;
  }
  .hero .box_01 {
    width: 900px;
    padding: 30px;
  }
  .hero .box_01:before {
    width: 870px;
    height: 316px;
    top: 9px;
    left: 15px;
  }
  .hero .box_01:after {
    width: 97px;
    height: 168px;
    bottom: 31px;
    right: 235px;
  }
  .hero h1 {
    font-size: 42px;
    margin-bottom: 20px;
  }
  .hero .txt_01 {
    font-size: 26px;
    width: 31em;
  }
  .hero .txt_02 {
    font-size: 22px;
  }
  .hero .txt_03 {
    font-size: 48px;
  }
  .sec_01 {
    width: 100%;
    margin: 0 auto 80px;
  }
  .sec_01 .box_01 {
    width: 1000px;
  }
  .sec_01 .box_01::before {
    content: "";
    width: 130px;
    height: 190px;
    right: 110px;
  }
  .sec_01 h2 {
    font-size: 40px;
    margin-bottom: 40px;
  }
  .sec_01 h2:before {
    content: "";
    width: 60px;
    height: 45px;
    left: 103px;
    top: -2px;
  }
  .sec_01 ul {
    width: 550px;
  }
  .sec_01 li {
    font-size: 22px;
  }
  .sec_01 li:before {
    content: "";
    width: 27px;
    height: 26px;
    left: -30px;
  }
  .sec_01 li span {
    font-size: 14px;
  }
  .sec_02 .txt_01 {
    font-size: 34px;
  }
  .sec_02 .txt_02 {
    font-size: 22px;
  }
  .sec_02 .txt_03 {
    font-size: 20px;
  }
  .sec_02 ul {
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .sec_02 ul li {
    width: 310px;
    font-size: 20px;
  }
  .sec_02 .txt_04 {
    font-size: 18px;
  }
  .sec_02 .txt_05 {
    font-size: 24px;
  }
  .sec_02 .txt_05:before {
    content: "";
    width: 25px;
    height: 25px;
    left: 0;
    top: -2px;
  }
  .sec_02 .txt_06 {
    font-size: 26px;
  }
  .sec_02 .txt_06:before {
    content: "";
    width: 70px;
    height: 130px;
    left: 80px;
    top: 13px;
  }
  .sec_03 h2,
  .sec_04 h2 {
    font-size: 20px;
  }
  .sec_03 h2:before,
  .sec_04 h2:before {
    content: "";
    width: 25px;
    height: 42px;
    left: 7px;
    top: 2px;
  }
  .sec_03 .sec_in {
    width: 1000px;
  }
  .sec_03 .tab_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .sec_03 .tab_btn li {
    font-size: 24px;
  }
  .sec_03 .tab_btn li a {
    width: 300px;
  }
  .sec_03 .tab_btn li a:before {
    content: "";
    width: 40px;
    height: 69px;
    top: 0;
    left: 10px;
  }
  .sec_03 .tab_btn li a:after {
    content: "\025bc";
    bottom: 0;
    left: 50%;
    width: 25px;
    margin-left: -12.5px;
  }
  .sec_03 .box_01:after {
    content: "";
    width: 50px;
    height: 73px;
    top: 50px;
    right: 30px;
  }
  .sec_03 .box_01 .txt_01 {
    font-size: 20px;
  }
  .sec_03 .box_01 li {
    font-size: 18px;
  }
  .sec_03 .box_02 {
    margin-bottom: 20px;
    border: 1px solid #f48a9d;
  }
  .sec_03 .box_02 .txt_01,
  .sec_03 .box_02 .txt_02,
  .sec_03 .box_02 .txt_03 {
    line-height: 1.4;
  }
  .sec_03 .box_02 .txt_01 {
    margin-bottom: 20px;
  }
  .sec_03 .box_02 .txt_02 {
    margin-bottom: 20px;
  }
  .sec_03 h3 {
    font-size: 18px;
  }
  .sec_03 .list_box:after {
    content: "";
    width: 210px;
    height: 139px;
    top: 10px;
    right: 540px;
  }
  .sec_03 .list_box li {
    font-size: 18px;
  }
  .sec_03 .list_box li + li {
    margin-top: 10px;
  }
  .sec_03 .box_02_in .txt_01 {
    font-size: 18px;
  }
  .sec_03 .tab_box {
    margin-bottom: 30px;
  }
  .sec_03 .tab_box_02 .box_01:after {
    content: "";
    right: 490px;
  }
  .sec_03 .tab_box_02 .box_02_in ul {
    width: 560px;
  }
  .sec_03 .tab_box_02 .box_02_in img {
    width: 300px;
  }
  .sec_03 .tab_box_02 .box_02_in li.txt {
    font-size: 18px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }
  .sec_03 .tab_box_02 .box_02_in li.txt span {
    top: 50%;
    width: 100px;
  }
  .sec_03 .tab_box_02 .ceremony:before {
    content: "";
    width: 80px;
    height: 117px;
    top: 29px;
    right: 180px;
  }
  .sec_03 .tab_box_02 .ceremony .txt_01 {
    font-size: 20px;
  }
  .sec_03 .tab_box_02 .ceremony .txt_02 {
    font-size: 18px;
  }
  .sec_03 h4 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .sec_03 h5 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .sec_03 .tab_box_03 h4 {
    margin-bottom: 15px;
  }
  .sec_03 .tab_box_03 h5 {
    margin-bottom: 15px;
  }
  .sec_03 .box_03 {
    margin-bottom: 20px;
    border: 1px solid #f48a9d;
  }
  .sec_03 .box_03 .box_03_in {
    background: #fff;
    padding: 30px 10px;
  }
  .sec_03 .box_03 .txt_01 {
    line-height: 1.6;
    margin-bottom: 20px;
  }
  .sec_03 .box_03 .txt_02 {
    line-height: 1.6;
  }
  .sec_04 th,
  .sec_04 td {
    font-size: 18px;
  }
  .sec_04 th {
    width: 200px;
  }
}

@media screen and (max-width: 768px) {
  .btn {
    width: 80vw;
  }
  .btn a {
    width: 100%;
  }
  .btn span {
    font-size: 5vw;
  }
  header .header_in .logo {
    width: 28vw;
    text-align: center;
    margin: 0 auto;
  }
  header .header_in .btn {
    display: none;
  }
  .hero {
    padding: 50px 0;
  }
  .hero .box_01 {
    width: 95vw;
    padding: 30px;
  }
  .hero .box_01:before {
    width: 90vw;
    height: 90%;
    top: 9px;
    left: 2.5vw;
  }
  .hero .box_01:after {
    width: 12vw;
    height: 23vw;
    bottom: 11%;
    right: 9%;
  }
  .hero h1 {
    font-size: 4vw;
    margin-bottom: 20px;
  }
  .hero .txt_01 {
    font-size: 3vw;
    width: 75vw;
  }
  .hero .txt_02 {
    font-size: 3.5vw;
  }
  .hero .txt_03 {
    font-size: 5.5vw;
  }
  .sec_01 {
    width: 100%;
    margin: 0 auto 80px;
  }
  .sec_01 .box_01 {
    width: 95vw;
    padding: 24px 30px;
  }
  .sec_01 .box_01::before {
    content: "";
    width: 12vw;
    height: 19vw;
    right: 2vw;
    top: 33vw;
  }
  .sec_01 h2 {
    font-size: 5.5vw;
    margin-bottom: 30px;
    padding-left: 18px;
  }
  .sec_01 h2:before {
    content: "";
    width: 8vw;
    height: 7vw;
    position: absolute;
    left: -22px;
  }
  .sec_01 ul {
    width: 80vw;
  }
  .sec_01 li {
    font-size: 4vw;
    padding-left: 8px;
  }
  .sec_01 li:before {
    content: "";
    left: -21px;
  }
  .sec_01 li span {
    font-size: 2.3vw;
  }
  .sec_02 {
    width: 90vw;
  }
  .sec_02 .txt_01 {
    font-size: 5vw;
  }
  .sec_02 .txt_02 {
    font-size: 3.5vw;
  }
  .sec_02 .txt_03 {
    font-size: 4vw;
  }
  .sec_02 ul {
    margin-bottom: 40px;
  }
  .sec_02 ul li {
    width: auto;
    font-size: 4vw;
  }
  .sec_02 ul li + li {
    margin-top: 10px;
  }
  .sec_02 .txt_04 {
    font-size: 3vw;
  }
  .sec_02 .txt_05 {
    font-size: 4vw;
  }
  .sec_02 .txt_05:before {
    content: "";
    width: 25px;
    height: 25px;
    left: 0;
    top: -2px;
  }
  .sec_02 .txt_06 {
    font-size: 4.3vw;
    padding: 28px 0;
  }
  .sec_02 .txt_06:before {
    content: "";
    width: 6vw;
    height: 10vw;
    left: 14vw;
    top: 5px;
  }
  .sec_03 .btn,
  .sec_04 .btn {
    margin-left: auto;
  }
  .sec_03 h2,
  .sec_04 h2 {
    font-size: 4vw;
  }
  .sec_03 h2:before,
  .sec_04 h2:before {
    content: "";
    width: 5vw;
    height: 9vw;
    left: 7px;
    top: 2px;
  }
  .sec_03 .sec_in {
    width: 95vw;
  }
  .sec_03 .tab_btn li {
    font-size: 5vw;
  }
  .sec_03 .tab_btn li + li {
    margin-top: 15px;
  }
  .sec_03 .tab_btn li a {
    width: auto;
  }
  .sec_03 .tab_btn li a:before {
    content: "";
    width: 40px;
    height: 69px;
    top: 0;
    left: 10px;
  }
  .sec_03 .tab_btn li a:after {
    content: "\025bc";
    bottom: 0;
    left: 50%;
    width: 25px;
    margin-left: -12.5px;
  }
  .sec_03 .box_01:after {
    content: "";
    width: 6vw;
    height: 9vw;
    background-size: 100%;
    top: 28vw;
    right: 2vw;
  }
  .sec_03 .box_01 .txt_01 {
    font-size: 4vw;
  }
  .sec_03 .box_01 li {
    font-size: 3vw;
    line-height: 1.6;
    padding-left: 1em;
    text-indent: -1em;
  }
  .sec_03 .box_01 li + li {
    margin-top: 10px;
  }
  .sec_03 .box_02 {
    margin-bottom: 20px;
    border: 1px solid #f48a9d;
  }
  .sec_03 .box_02 .txt_01,
  .sec_03 .box_02 .txt_02,
  .sec_03 .box_02 .txt_03 {
    line-height: 1.4;
  }
  .sec_03 .box_02 .txt_01 {
    margin-bottom: 20px;
  }
  .sec_03 .box_02 .txt_02 {
    margin-bottom: 20px;
  }
  .sec_03 h3 {
    font-size: 3.3vw;
  }
  .sec_03 .list_box:after {
    content: "";
    width: 26vw;
    height: 18vw;
    top: 5vw;
    right: 100px;
  }
  .sec_03 .list_box li {
    font-size: 3vw;
  }
  .sec_03 .list_box li + li {
    margin-top: 10px;
  }
  .sec_03 .box_02_in .txt_01 {
    font-size: 3vw;
  }
  .sec_03 .box_02_in .flow {
    width: 100%;
  }
  .sec_03 .box_02_in .flow img {
    width: 100%;
  }
  .sec_03 .tab_box {
    margin-bottom: 30px;
  }
  .sec_03 .tab_box_02 .box_01:after {
    content: "";
    right: 490px;
  }
  .sec_03 .tab_box_02 .box_02_in ul {
    width: 90vw;
  }
  .sec_03 .tab_box_02 .box_02_in .tel_img {
    width: 42vw;
  }
  .sec_03 .tab_box_02 .box_02_in .tel_img img {
    width: 100%;
  }
  .sec_03 .tab_box_02 .box_02_in li.txt {
    font-size: 3vw;
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }
  .sec_03 .tab_box_02 .box_02_in li.txt span {
    top: 50%;
    width: 100px;
  }
  .sec_03 .tab_box_02 .ceremony:before {
    content: "";
    width: 8vw;
    height: 12vw;
    top: 3vw;
    right: 6vw;
  }
  .sec_03 .tab_box_02 .ceremony .txt_01 {
    font-size: 4vw;
  }
  .sec_03 .tab_box_02 .ceremony .txt_02 {
    font-size: 3vw;
    line-height: 1.6;
  }
  .sec_03 h4 {
    font-size: 3.5vw;
    margin-bottom: 20px;
  }
  .sec_03 h5 {
    font-size: 3.5vw;
    margin-bottom: 20px;
  }
  .sec_03 .tab_box_03 .txt_01 {
    font-size: 4vw;
  }
  .sec_03 .tab_box_03 .box_01:after {
    content: "";
    width: 6vw;
    height: 9vw;
    background-size: 100%;
    top: 15vw;
    right: 7vw;
  }
  .sec_03 .tab_box_03 .box_02_in .txt_01 {
    text-align: left;
  }
  .sec_03 .tab_box_03 .box_02_in .txt_02 {
    font-size: 3vw;
    line-height: 1.6;
  }
  .sec_03 .tab_box_03 .box_02_in .txt_03 {
    font-size: 3vw;
    line-height: 1.6;
  }
  .sec_03 .box_03 {
    margin-bottom: 20px;
    border: 1px solid #f48a9d;
  }
  .sec_03 .box_03 .box_03_in {
    background: #fff;
    padding: 30px 10px;
  }
  .sec_03 .box_03 .txt_01 {
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: left;
  }
  .sec_03 .box_03 .txt_02 {
    line-height: 1.6;
    font-size: 3vw;
  }
  .sec_04 {
    width: 95vw;
  }
  .sec_04 th,
  .sec_04 td {
    font-size: 4vw;
    display: block;
  }
  .sec_04 th {
    width: auto;
  }
}
/*# sourceMappingURL=style.css.map */